<% content_for :title, "User Profile" %>

<div class="row bump">
   <div class="small-12 large-6 columns">
      <div class="row">
         <div class="profile-card">
           <div class="small-12 large-4 columns">
                 <img src="<%= @user.display_image %>" alt="profile image">
           </div>
            <div class="small-12 large-8 columns">
               <h4><%= @user.first_name.titleize + " " +
                @user.last_name[0].upcase %></h4>
               <p><i class="fi-comment"></i><span><%= @user.reviews.size.to_s +
                 " Reviews" %></span></p>
            </div>
        </div>
    </div>
  </div>
</div>

<%- if current_user.admin? %>
  <p>Unhappy? <%= button_to "Delete User",
    admin_user_path(@user),
    data: { confirm: "Are you sure?" }, method: :delete %></p>
<%- end %>
