
        <h1> Yelpers </h1>
<ul class="small-block-grid-3">
  <% @yelpers.each do |yelper| %>
    <img src="<%= yelper.image_url %>" alt="profile image"><br>
    <h3><%= yelper.name %></h3>
    <h5><%= yelper.location %></h5>
  <% end %>
</ul>

</div>
</div>
</div>
