body {
	margin-bottom: 35px;
	background-image: url("bg7.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.user-image {
	width: 100px;
	height: auto;
	margin-top: 15px;
}

.top-bar {
	margin-bottom: 0px;
}

.container .row .column {
	margin-top: 35px;
}

.title {
  margin-bottom: 20px;
}

.title h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

.yelper-card {
  border: 1px solid #d7d7d7;
  margin-bottom: 1.5rem;
	background-color: #ffffff;
  box-shadow: 2px 4px 5px 0px #d7d7d7;
}
.yelper-card img {
	box-shadow: 0px 0px 5px 0px #d7d7d7;
}

.yelper-card .card-content {
  margin: 1.25rem;
}

.yelper-card .card-content .yelper-name {
    text-align: center;
    font-size: 1.5em;
    color: #757D75;
}

.yelper-card .card-content .yelper-review-count {
    text-align: center;
    font-size: 1em;
    color: #CF0000;
}

.yelper-card .card-content h4 {
    color: #CF000F;
    text-align: center;
}

.yelper-card .card-content a i {
    font-weight: 300;
    color: #757D75;
    margin: 0 .5rem;
    padding: 5px 7px 5px 7px;
    border: 1px solid #757D75;
    border-radius: 50%;
}

.yelper-card img {
    width: 100%;
}

.profile-box {
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  box-shadow: 2px 4px 5px 0px #d7d7d7;
	padding: 0;
	text-align: center;
	padding-bottom: 5px;
}

.profile-box img {
  box-shadow: 0px 0px 5px 0px #d7d7d7;
}

.profile-box h4 {
  padding-top: 10px;
}

.profile-box ul li .button {
}

.profile_button {
  background-color: gray;
}

/* STAR RATINGS */

fieldset, label { margin: 0; padding: 0; }

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
	font-family: foundation-icons;
  display: inline-block;
	content: "\f1ee";
}

.rating > label {
  color: #ddd;
 float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.review.row {
	margin-top: 1em;
	margin-bottom: 1em;
}

.votes {
	margin-bottom: 1em;
}

.top-bar-section ul li {
	color: white;
  background: #c41200;
}

.fi-star {
	color: #FFD700;
	padding-right: 0.5em
}
