body {
	margin-bottom: 35px;
}

.user-image {
	width: 100px;
	height: auto;
	margin-top: 15px;
}
.top-bar {
	margin-bottom: 35px;
}
.title {
  margin-bottom: 20px;
}

.title h1 {
  font-family: "europa";
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

.yelper-card {
  border: 1px solid #d7d7d7;
  margin-bottom: 1.5rem;
  box-shadow: 2px 4px 5px 0px #d7d7d7; }
.yelper-card .card-content {
  background: #fff;
  margin: 1.25rem; }

.yelper-card .card-content .yelper-name {
    text-align: center;
    font-size: 1.5em;
    color: #757D75;
}

.yelper-card .card-content h4 {
    color: #CF000F;
    text-align: center;
}

.yelper-card .card-content a i {
    font-weight: 300;
    color: #757D75;
    margin: 0 .5rem;
    padding: 5px 7px 5px 7px;
    border: 1px solid #757D75;
    border-radius: 50%;
}

.yelper-card img {
    width: 100%;
}

.top-bar-section ul li {
  background: #4C4C4C;
}
