  <% content_for :title, "User Index" %>

<h1>Users Index</h1>

  <% @users.each do |user| %>
    <div class="row">
      <div class="small-4 columns">
        <h4><%= link_to user.first_name.titleize + " " +
         user.last_name[0].upcase, user_path(user) %></h4>
      </div>

      <div class="small-4 columns">
        <%= button_to "Make Admin", admin_user_path(user),
          data: { confirm: "Are you sure?" }, method: :patch,
          class: "button round" %>
      </div>
    </div>
  <% end %>
